<form [formGroup]="formulario">
    <div class="mdl-grid mdl-cell--10-col">
      <div class="mdl-cell mdl-cell--4-col">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
          <mat-error *ngIf="formulario.get('email').hasError('required')">
            Campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="text" formControlName="password">
            <mat-error *ngIf="formulario.get('password').hasError('required')">
              Campo obrigatório
            </mat-error>
          </mat-form-field>
        </div>
      <div class="mdl-cell mdl-cell--4-col">
        <mat-form-field appearance="outline">
          <mat-label>Perfil</mat-label>
          <mat-select formControlName="profile">
            <mat-option value="ROLE_ADMINISTRADOR">ADMINISTRADOR</mat-option>
            <mat-option value="ROLE_SUPERVISOR">SUPERVISOR</mat-option>
            <mat-option value="ROLE_CLIENTE">CLIENTE</mat-option>
          </mat-select>
          <mat-error *ngIf="formulario.get('profile').hasError('required')">
              Campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="formulario.invalid">Salvar</button>&nbsp;
        <a mat-raised-button routerLink="/usuario">Voltar</a>
      </div>

    </div>
  </form>
