<div class="mdl-grid">
<!-- -->
<div class="mdl-cell mdl-cell--4-col">
<mat-card class="card-dashboard">
  <img src="../../../assets/img/dashboard/aluno.png" alt="Alunos" width="50px">
  <mat-card-header>
    <mat-card-title>{{alunos}}</mat-card-title>
    <mat-card-subtitle>ALUNOS CADASTRADOS</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
      <button mat-button routerLink="/aluno">VER TODOS</button>
  </mat-card-actions>
</mat-card>
</div>
<!-- -->
<div class="mdl-cell mdl-cell--4-col">
<mat-card class="card-dashboard">
  <img src="../../../assets/img/dashboard/classes.png" alt="Classes" width="50px">
  <mat-card-header>
    <mat-card-title>{{classes}}</mat-card-title>
    <mat-card-subtitle>CLASSES CADASTRADAS</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
      <button mat-button routerLink="/classe">VER TODOS</button>
  </mat-card-actions>
</mat-card>
</div>
<!-- -->
<div class="mdl-cell mdl-cell--4-col">
  <mat-card class="card-dashboard">
    <img src="../../../assets/img/dashboard/usuario.png" alt="Usuários" width="50px">
    <mat-card-header>
      <mat-card-title>{{usuarios}}</mat-card-title>
      <mat-card-subtitle>USUÁRIOS DO SISTEMA</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button routerLink="/usuario">VER TODOS</button>
    </mat-card-actions>
  </mat-card>
  </div>
<!-- -->
</div>



