#cadastros {
  cursor: pointer;
}

.drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.menu_label {
  color: #AED036 !important;
}

.link_active {
  border-bottom: 2px solid #AED036 !important;
  color: #AED036;
}
